<h1>A <%=@number_of_years%> years loan of <%=number_to_currency(@present_value) %> with an anuual interest rate of <%=@basis_points/100%>% requires a monthly payment of <%=number_to_currency(@monthly_payment)%></h1>
