<h1>Payment Calculation

  <form action="/monthly_payment/results">

    <div>

          <label>
            APR <input type="text" name="user_apr" placeholder="E.g. 5.42">
          </label>

      </div>
<div class="">
  <label>
    Number of years <input type="text" name="number_of_years" placeholder="How many years to repay?">
  </label>
</div>


      <div class="">
        <label>
          Principal <input type="text" name="present_value" placeholder="How much principal?">
        </label>

      </div>



    <button>Calculate monthly payment</button>
  </form>

</h1>
