<h1>Caluclate Square root of a number

  <form action="/square_root/results">

    <div>

      <label>
        Enter a number
      </label>

      <input type="text" name="user_num" placeholder="Enter a number">
    </div>

    <button>Calculate square root</button>
  </form>

</h1>
